<style>
  body {
    font-family: 'Cinzel', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif KR', serif;
  }
  header {
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
  }
</style>